* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: red solid 1px;
}

body {
    font-family: "Nunito", sans-serif;
}

.container {
    width: 100%;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 50%;
    margin-bottom: 25%;
}

p {
    font-weight: bold;
}

@keyframes appear {
    from {
        opacity: 0;
        scale: 0.75;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#headercontainer {
    text-align: center;
    margin-top: 1%;
    margin-bottom: 22.5%;
    animation: fade 2s;
}

#hheader {
    font-size: 1rem;
    color: grey;
}

#maincontainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    animation: fade 2s
}

#hmain {
    font-size: 5rem;
}

#h2main {
    color: grey;
}

#secondcontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10%;
    padding-right: 10%;
}

#scamcallerimg {
    margin-right: 3%;
}

#secondtextcontainer {
    display: flex;
    flex-direction: column;
}

#hsecond {
    text-align: center;
    margin-bottom: 5%;
    font-size: 2rem;
}

#psecond {
    text-align: center;
    color: grey;
    font-size: 1.2rem;
}

#thirdcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
}

#hthird {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 3%;
}

#pthird {
    text-align: center;
    font-size: 1.1rem;
    color: grey;
    line-height: 1.6rem;
}

#aiimg {
    margin-left: 10%;
}

#forthcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#scammerinputcontainer {
    position: relative;
    display: inline-block;
}

.mic-toggle {
    font-size: 3.5rem;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    transition: 0.3s;
    transform-origin: center;
}

.mic-toggle:hover {
    transform: translate(-50%, -50%) scale(1.1);
}

.mic-toggle.is-recording {
    background-color: red;
}

#hforth {
    margin-left: 10%;
}

#forthtextcontainer {
    display: flex;
    flex-direction: column;
}
